# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
staticfiles/

# Environment variables
.env

# Python virtual environment
venv/

# Terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl
crash.log

# IDE / Editors
.idea/
.vscode/
*.swp
.DS_Store

# Frontend build artifacts
frontend/node_modules/
frontend/build/
frontend/.next/
frontend/.vercel
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Docker
docker-compose.override.yml
node_modules
